.auth-container {
    width: 350px;
    margin: 90px auto;
    padding: 35px;
    background: #ffffff;
    border-radius: 18px;
    box-shadow: 0px 8px 18px rgba(0,0,0,0.15);
    text-align: center;
    animation: fadeIn 0.6s ease-in-out;
}

.auth-container h2 {
    font-size: 26px;
    font-weight: 700;
    color: #222;
    margin-bottom: 20px;
    animation: slideDown 0.7s ease-in-out;
}

.auth-container input {
    width: 100%;
    padding: 12px;
    margin: 12px 0;
    border: none;
    border-radius: 10px;
    background: #f0f0f0;
    font-size: 15px;
    transition: 0.3s;
}

.auth-container input:focus {
    background: #e9e9e9;
    transform: scale(1.03);
    outline: none;
}

.auth-container button {
    width: 100%;
    padding: 12px;
    margin-top: 18px;
    background: #007bff;
    border: none;
    border-radius: 12px;
    color: #fff;
    font-size: 17px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.25s;
}

.auth-container button:hover {
    background: #0056b3;
    transform: translateY(-3px);
}

.mensagem {
    margin-top: 15px;
    font-size: 14px;
    color: #444;
}


@keyframes fadeIn {
    from { opacity: 0; transform: translateY(20px); }
    to { opacity: 1; transform: translateY(0); }
}

@keyframes slideDown {
    from { opacity: 0; transform: translateY(-20px); }
    to { opacity: 1; transform: translateY(0); }
}
