.auth-container {
    width: 360px;
    margin: 80px auto;
    padding: 40px;
    background: linear-gradient(150deg, #ffffff, #f6f6f6);
    border-radius: 20px;
    box-shadow: 0px 10px 22px rgba(0,0,0,0.10);
    text-align: center;
    animation: popUp 0.5s ease-out;
}

.auth-container h2 {
    font-size: 28px;
    color: #0e0e0e;
    margin-bottom: 20px;
    letter-spacing: 1px;
}

.auth-container input {
    width: 100%;
    padding: 13px;
    margin: 12px 0;
    border: none;
    border-radius: 10px;
    background: #ebebeb;
    transition: .3s;
}

.auth-container input:focus {
    background: #dddddd;
    transform: scale(1.04);
}

.auth-container button {
    width: 100%;
    padding: 13px;
    margin-top: 18px;
    border: none;
    background: #28a745;
    border-radius: 12px;
    color: white;
    font-size: 17px;
    font-weight: bold;
    cursor: pointer;
    transition: .25s;
}

.auth-container button:hover {
    background: #1e7e34;
    transform: translateY(-3px);
}

.mensagem {
    margin-top: 14px;
    color: #333;
    font-size: 15px;
}


@keyframes popUp {
    from { transform: scale(0.85); opacity: 0; }
    to { transform: scale(1); opacity: 1; }
}
