.container {
    max-width: 850px;
    margin: 40px auto;
    background: #ffffff;
    padding: 25px;
    border-radius: 18px;
    text-align: center;
    box-shadow: 0px 5px 20px rgba(0,0,0,0.12);
    animation: fadeIn 0.7s ease-in-out;
}



p {
    color: #555;
}

input, select {
    width: 30%;
    padding: 10px;
    margin: 8px;
    border-radius: 10px;
    border: 2px solid #c8c8c8;
    transition: 0.3s;
}

input:focus, select:focus {
    border-color: #4b79ff;
    outline: none;
    transform: scale(1.05);
}

.input-btn {
    background: linear-gradient(135deg, #4b79ff, #884bff);
    border: none;
    color: white;
    padding: 11px 26px;
    margin: 12px;
    border-radius: 12px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    transition: 0.3s;
}

.input-btn:hover {
    transform: scale(1.08);
    box-shadow: 0px 4px 12px rgba(110, 82, 255, 0.5);
}


ul {
    margin-top: 20px;
    list-style: none;
    padding: 0;
}

li {
    background: #f7f7f7;
    margin-bottom: 10px;
    padding: 16px;
    border-radius: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 500;
    animation: slideIn 0.4s ease-in-out;
    border-left: 5px solid #4b79ff;
}

li.concluida {
    background: #d5ffd7;
    text-decoration: line-through;
    opacity: 0.7;
    border-left-color: #2ecc71;
}


li button {
    margin-left: 6px;
    border: none;
    background: #ececec;
    padding: 6px 10px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

li button:hover {
    background: #d6d6d6;
    transform: scale(1.09);
}


.filtros {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 15px 0;
}

.filtro {
    padding: 8px 12px;
    border-radius: 10px;
    border: 2px solid #b9b9b9;
    cursor: pointer;
}

.filtro:hover {
    border-color: #4b79ff;
    transform: scale(1.06);
}


.logout-area {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
}

.logout-btn {
    background-color: #ff4d4d;
    color: white;
    border: none;
    padding: 10px 16px;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

.logout-btn:hover {
    background-color: #e63939;
}




@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(15px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateX(-25px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@media (max-width: 768px) {
    input, select {
        width: 80%;
    }
    li {
        flex-direction: column;
        gap: 10px;
        text-align: center;
    }
}
